@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* || VARIABLES */

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);

    /* Static Values */
    /* Note that values are presented without units. */
    --screen-width-base: 375;
    --screen-width-min: 320;
    --screen-width-max: 480;
    --font-size-base: 14;

    /* Calculated Values */
    --font-size-min: calc(var(--screen-width-min) / var(--screen-width-base) * var(--font-size-base) * 1px);
    --font-size-max: calc(var(--screen-width-max) / var(--screen-width-base) * var(--font-size-base) * 1px);
    --font-size-val: calc(100vw / var(--screen-width-base) * var(--font-size-base));

    --body-padding: 2.5rem;

    --width-min: calc(((var(--screen-width-min) * 1px) - (var(--body-padding) * 2)));
    --width-max: calc(((var(--screen-width-max) * 1px) - (var(--body-padding) * 2)));
    --width-val: calc(100vw - (var(--body-padding) * 2));
}

html {
    font-size: clamp(var(--font-size-min), var(--font-size-val), var(--font-size-max));
    font-family: "Inter", "sans-serif";
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: var(--body-padding);
    min-height: 100vh;
    background-color: var(--off-black);
}

.social-links-profile-component {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    width: clamp(var(--width-min), var(--width-val), var(--width-max));
    padding: 0.75rem;
    background-color: var(--dark-grey);
    border-radius: 0.75rem;

    .hero {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
        margin-top: 0.75rem;

        figure {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            img {
                width: 6rem;
                border-radius: 100%;
            }
        }

        h1,
        p {
            text-align: center;
        }

        h1 {
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 400;
        }

        .place-from {
            color: var(--green);
            font-size: 0.85rem;
            font-weight: 600;
        }

        .occupation {
            color: var(--white);
            font-weight: 200;
            margin-top: 1.2rem;
        }
    }

    nav {
        width: 100%;

        ul {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            list-style: none;
        }

        li {
            width: 100%;
        }

        a,
        a:visited {
            display: block;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 600;
            background-color: var(--grey);
            color: var(--white);
            padding: 1rem;
            text-align: center;
            border-radius: 0.5rem;
        }

        a:hover,
        a:focus {
            color: var(--dark-grey);
            background-color: var(--green);
            font-weight: 700;
        }
    }
}

.attribution {
    font-size: 0.75rem;
    text-align: center;
    color: lightgrey;
}

.attribution a {
    color: hsl(237, 43%, 67%);
}