@layer base {
    
    :root {
        font-size: clamp(calc(0.85* 16px), 4.265vw, calc(1.15 * 16px));
    }

    @font-face {
        font-family: Inter;
        src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
    }
}