@theme {
    --color-*: initial;
    --color-white: hsl(0, 0%, 100%);
    --color-grey: (0, 0%, 20%);
    --color-dark-grey: hsl(0, 0%, 12%);
    --color-off-black: hsl(0, 0%, 8%);

    --font-inter: Inter, "sans-serif";
}